.row {
    /* background-color: black; */
    margin: 0% 5% 5% 5%;
}

.card {
    margin: 20px 20px 20px 20px;
}

.card-header .btn {
    visibility: hidden;
}

.card-header:hover {
    background-color: #669999;
}

.card-header:hover .btn {
    visibility: visible;
    background-color: #669999;
    border: none;
}

.card-Title button {
    float: right;
    padding: 0%;
}

.list-group-item .btn {
    visibility: hidden;
    /* padding: 0%; */
}

.list-group-item:hover {
    background-color: #e0ebeb;
}