.row {
    margin: 0% 5% 5% 5%;
}

.editfeatures {
    display: flex;
    margin-left: 5.7%;
}

.editfeatures button {
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    margin: 20px 20px 20px 20px;
    max-width: 500px;
}

.card:hover {
    cursor: pointer;
}

.card-header .btn {
    visibility: hidden;
}

.card-header:hover {
    background-color: #669999;
}

.card-header:hover .btn {
    visibility: visible;
    background-color: #669999;
    border: none;
}

.card-Title button {
    float: right;
    padding: 0%;
}

.list-group-item:hover {
    background-color: #e0ebeb;
    cursor: pointer;
}

.taskTitle-formatting {
    font-weight: bold;
}

.taskDesc-formatting {
    margin-left: 10px;
}